body {
    font-family: "Hiragino Kaku Gothic ProN";
}

div {
    height: 500px;
    background-image: url(images/desert.jpg);
    /*表示範囲を埋め尽くすように背景を拡大・縮小*/
    /*background-size: cover;*/
}

h1 {
    font-size: 30px;
    color: #ffffff;
    opacity: 0.7;
}

.box {
    width: 4000px;
    margin:0 auto;
    opacity: 0.7;
    letter-spacing: 5px;
}

.btn {
  /* btn の共通のCSS */
}

.blue {
  color: blue;
}

.btn {
  color: red;
}



 
